.peppermint {
    text-align: center;
}

.peppermint figure {
    margin: 0 0 1.5em 0;
}

.peppermint figure img {
    vertical-align: top;
    max-width: 100%;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.peppermint figure figcaption {
    font-style: italic;
    color: #787575;
    font-size: 0.8em;
    margin-top: 0.5em;
}

.peppermint.peppermint-active {
    margin-bottom: 1.5em;
}

.peppermint-slides {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}